/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto.woff') format('woff'), /* Modern Browsers */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/robotomedium.woff') format('woff'), /* Modern Browsers */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/robotobold.woff') format('woff'), /* Modern Browsers */
}


/* Variables */
:root {
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-white: #ffffff;
  --special-red: #FB565A;
  --special-yellow: #EFC849;
  --special-green: #00CA74;
}


/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 1440px;
  background-color: var(--basic-white);
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.screenreader {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.btn {
  display: inline-block;
  width: 160px;
  padding: 17px 0 15px 0;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background-color: var(--special-red);
  z-index: 1;
  border-radius: 3px;
}

.info-btn {
  width: 240px;
  margin-bottom: 80px;
}

.info-btn:hover,
.websites .order-btn:hover {
  background-color: #E74246;
}

.info-btn:focus,
.info-btn:active,
.websites .order-btn:focus,
.websites .order-btn:active {
  color: rgba(255, 255, 255, 0.3);;
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.apps .order-btn {
  background-color: var(--special-green);
}

.apps .order-btn:hover {
  background-color: #00BC6C;
}

.apps .order-btn:focus,
.apps .order-btn:active {
  color: rgba(255, 255, 255, 0.3);;
  background:  #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.presentation .order-btn {
  background-color: var(--special-yellow);
}

.presentation .order-btn:hover {
  background-color: #EAB534;
}

.presentation .order-btn:focus,
.presentation .order-btn:active {
  color: rgba(255, 255, 255, 0.3);;
  background-color:#E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.write-us {
  width: 219px;
  height: 50px;
}

.order-btn {
  margin-top: auto;
  order: 4;
}

.filter-btn {
  width: 260px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.filter-btn:hover {
  background-color: #dfdfdf;
}

.filter-btn:focus,
.filter-btn:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.item-price {
  width: 200px;
  align-self: center;
}

.item-price:hover {
  background-color: #E74246
}

.item-price:focus,
.item-price:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Grid */

.page-body {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Header */

.page-header {
  width: 100%;
  background-color: var(--basic-grey);
  padding-top: 49px;
}


.main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}


/* Menu */

.menu,
.user-menu {
  margin: 0;
  padding: 0;

  list-style: none;

  font-weight: 500;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu {
  margin: 0 auto;
  margin-top: 9px;
  margin-right: 245px;
  justify-content: space-between;
}

.menu-item:not(:last-child) {
  margin-right: 48px;
}
.menu-item:first-child {
  margin-right: 45px;
}
.menu-item a:hover,
.user-menu-item a:hover {
  color: var(--special-red);
}

.menu-item a:focus,
.user-menu-item a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}


.menu-item a:active,
.user-menu-item a:active {
  padding-bottom: 13px;
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 2px solid var(--special-red);
}

.user-menu {
  min-width: 115px;
  margin-top: 9px;
}

.user-menu-item a {
  padding-left: 40px;
}

/* Slider */

.slider {
  min-width: 1157px;
  background-color: var(--basic-grey);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  padding-top: 62px;
  background-color: transparent;
}

.slide b {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide p {
  margin-top: 25px;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: normal;
}

.slide-1,
.slide-2,
.slide-3 {
  position: relative;
  padding-right: 619px;
}

.slide-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-3 {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-2, .slide-3 {
  display: none;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 676px;
  top: 431px;
  z-index: 1;
}

.slider-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  border-radius: 50%;
  font-size: 0;
  background-color: var(--basic-white);
}

/* Main */

.index-main {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  align-content: flex-start;
}

.services .container {
  position: relative;
  margin-bottom: 80px;
  padding-top: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 60px;
}


.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.service img {
  width: 300px;
  height: 146px;
  order: 0;
  margin-bottom: 25px;
}

.service h3 {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  order: 1;
}

.service p {
  margin: 0;
  font-weight: 400;
  padding-right: 39px;
  margin-bottom: 32px;
  line-height: 24px;
  order: 2;
}

.about-us  .container {
  position: relative;
  border-top: 2px solid var(--basic-grey);
  margin-bottom: 73px;

  display: grid;
  grid-template-columns: 1fr 0.5fr;
  column-gap: 149px;
}

.about-1 {
  padding-top: 73px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-1 h3 {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-1 p:first-of-type {
  margin: 0;
  margin-bottom: 41px;
  line-height: 24px;
}

.about-1 b {
  margin: 0;
  margin-bottom: 23px;
  line-height: 24px;
  text-transform: uppercase;
}

.works-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.works-list li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  line-height: 24px;
}

.works-list li:last-child {
  margin-bottom: 0;
}

.works-list li::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  margin-right: 7px;
  background-color: var(--special-red);
  vertical-align: super;
}

.about-2 {

  padding-top: 245px;
  position: relative;
  width: 360px;
  height: 208px;
  top: 39px;
  background-image: url("../img/nerds-illustration1.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.about-2 p {
  padding-left: 17px;
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-2 .profits {
  order: 2;
}

.our-profits {
  display: block;
}

.our-profits tbody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profits th {
  padding: 0;
  line-height: 18px;
  text-align: left;
}

.about-2 .profits-percentage {
  margin-bottom: 10px;
  order: 1;
}

.profits-percentage td {
  display: inline-block;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  padding: 0;
  margin-right: 20px;
}

.profits-percentage td:nth-of-type(2){
  margin-right: 18px;
}

.profits-percentage td > span {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.clients .container {
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 46px 41px 44px 32px;
  list-style: none;
}

.clients-list li {
  position: relative;
}

.logo-link {
  vertical-align: center;
}

.clients-list li:not(:last-of-type)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  left: 241px;
  top: 18px;
  background-color: #eeeeee;
}

.clients-list li:first-of-type::after {
  left: 241px;
  top: 18px;
}

.clients-list li:nth-of-type(2)::after {
  left: 241px;
  top: 18px;
}

.clients-list li:nth-of-type(3) {
}

.client-logo {
  display: block;
  opacity: 0.2;
}

.client-logo:hover {
  opacity: 1;
}

.client-logo:focus,
.client-logo:active {
  opacity: 0.1;
}

.map-area {
  padding-top: 80px;
}

.map-link {
  padding-top: 54px;
  height: 416px;
  position: relative;
  width: 100%;
  background-image: url("../img/map.png");
}

.map-link img {
  display: block;
  width: 100%;
  min-height: 100%;
}

.map-link .container {
}

.contacts-wrap {
  margin-bottom: 34px;
}

.map-link .address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 319px;
  height: 308px;
  padding: 49px 50px 47px 50px;
  background-color: var(--basic-white);
}

.address h3 {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 26px;
}

.map-link address {
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 15px;
}

/* Catalog */

.catalog-header {
  height: 178px;
}

.catalog-main .container{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto auto;
  align-content: flex-start;
}

.catalog-wrap .container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 140px;
  padding-top: 55px;
}

.catalog-main .catalog-title  {
  grid-column-start: 1 / -1;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-grey);
  padding-bottom: 108px;
  padding-top: 14px;
  text-align: center;
  margin: 0;
  margin-right: 16px;
  margin-bottom: 55px;
}
.catalog-grid {
  margin-left: 141px;
}

.sort-list,
.catalog-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-items {
  margin-bottom: 54px;
}

.catalog-items-list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 30px;
}

.catalog-item {
  height: 620px;
  position: relative;
  background-color: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.item-dots {
  position: absolute;
  top: 12px;
  left: 15px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 0;
  background-color: var(--basic-white);
}

.item-dots::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  left: 23px;
  border-radius: 50%;
  font-size: 0;
  background-color: var(--basic-white);
}

.item-dots::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  left: 46px;
  border-radius: 50%;
  font-size: 0;
  background-color: var(--basic-white);
}

.catalog-item img {
  display: block;
  padding-top: 40px;
  width: 100%;
}

.item-hover {
  display: none;
  position: absolute;
  width: 360px;
  height: 231px;
  padding: 27px 53px 44px 52px;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  background-color: var(--basic-grey);
}

.item-hover h3 {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.item-hover h3 > a:hover {
  color: var(--special-red);
}

.item-hover h3 > a:focus,
.item-hover h3 > a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.item-hover p {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 33px;
}
.catalog-item:hover > .item-hover {
  display: flex;
  flex-direction: column;
}

/* Pagination */

.pagination-list {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pagination-list li {
  margin: 0;
  margin-right: 11px;
  padding-top: 17px;
  width: 50px;
  height: 50px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-list li > a {
}

li.pagination-page-active {
  background-color: var(--basic-white);
  border: 3px solid #DBDBDB;
}


/* Filter */


.filter-form-field fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter .container {
  width: 260px;
}

.filter-form-field legend {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form-field:nth-child(2) legend {
  margin-bottom: 13px;
}

.filter-form-field legend:last-child {
  margin-bottom: 14px;
}

.filter-form-field legend:first-child {
  margin-bottom: 48px;
}


.filter-form-field {
  margin-bottom: 54px;
}

.range-wrap {
  display: flex;
  flex-direction: column;
}

.range-wrap {
  position: relative;
  margin-bottom: 14px;
  padding-left: 18px;
  padding-right: 22px;
  padding-top: 39px;
  padding-bottom: 22px;
  min-height: 44px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.range {
  position: relative;
  width: 220px;
  height: 2px;
  margin-bottom: 17px;
  background-color: rgba(0, 0, 0, 0.2);
}

.range::before {
  position: absolute;
  top: 0;
  content: "";
  width: 147px;
  height: 2px;
  background-color: #91c92f;
}

.range .range-dot {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid #fff;
  box-shadow: 0 2px 0 0 #dadada;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.dot-min {
  right: 58px;
}

.dot-max {
  left: 0;
}

.range-price label {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-price label[for=value] {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-price-label {
  position: absolute;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  font-family: "Roboto", "Arial" ,sans-serif;
  font-size: 16px;
  width: 80px;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #283136;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.grid-filter {
  position: relative;
}

.range-price-label:last-child {
left: 96px;
}

.form-field-param {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Sort */
.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.sort-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  vertical-align: baseline;
}


.sort-arrows {
  display: flex;
  margin-left: 47px;
}

.sort-by {
  display: flex;
  justify-content: flex-start;
}

.sort-link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 25px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-by a:last-of-type {
  margin-right: 0;
}

.sort-arrows {
  align-self: center;
}

.sort-arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid  var(--basic-black);
  margin: 0;
}

.sort-arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid var(--basic-black);
  margin: 0;
  margin-left: 18px;
  opacity: 0.3;
}

.sort-link-active {
  opacity: 1;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:focus,
.sort-link:active {
  opacity: 1;
}


/* footer */

.page-footer .container {
  display: flex;
  justify-content: flex-start;
  padding-top: 68px;
  padding-bottom: 68px;
}

.social {
  display: inline-block;
  margin-right: 139px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list li {
  display: inline-block;
  margin-right: 12px;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-list li:last-of-type {
  margin-right: 0;
}

.social-item::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
}

.vkontakte::before {
  width: 26px;
  height: 15px;
  margin-top: 33px;
  margin-left: 27px;
  background-image: url("../img/svg/vk-icon.svg");
}

.facebook::before {
  width: 12px;
  height: 22px;
  margin-top: 31px;
  margin-left: 35px;
  background-image: url("../img/svg/fb-icon.svg");
}

.insta::before {
  width: 21px;
  height: 21px;
  margin-top: 29px;
  margin-left: 28px;
  background-image: url("../img/svg/insta-icon.svg");
}

.social-list li:hover {
  background-color: #E74246;
}

.social-list li:focus,
.social-list li:active {
  background-color: #D7373B;
}

.social-item:focus,
.social-item:active {
  opacity: 0.3;
}

.discount {
  padding-top: 7px;
}

.discount h2 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount p:first-child {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount p:nth-child(2) {
  margin: 0;
  line-height: 22px;
}

/* Modal */

.modal {
  display: none;
}
