/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto.woff') format('woff'), /* Modern Browsers */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/robotomedium.woff') format('woff'), /* Modern Browsers */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/robotobold.woff') format('woff'), /* Modern Browsers */
}


/* Variables */
:root {
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-white: #ffffff;
  --special-red: #FB565A;
  --special-yellow: #EFC849;
  --special-green: #00CA74;
}


/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 1440px;
  background-color: var(--basic-white);
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.screenreader {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.btn {
  display: inline-block;
  width: 160px;
  padding: 17px 0 15px 0;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background-color: var(--special-red);
  z-index: 1;
  border-radius: 3px;
}

.info-btn {
  width: 240px;
  margin-bottom: 80px;
}

.info-btn:hover,
.websites .order-btn:hover {
  background-color: #E74246;
}

.info-btn:focus,
.info-btn:active,
.websites .order-btn:focus,
.websites .order-btn:active {
  color: rgba(255, 255, 255, 0.3);;
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.apps .order-btn {
  background-color: var(--special-green);
}

.apps .order-btn:hover {
  background-color: #00BC6C;
}

.apps .order-btn:focus,
.apps .order-btn:active {
  color: rgba(255, 255, 255, 0.3);;
  background:  #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.presentation .order-btn {
  background-color: var(--special-yellow);
}

.presentation .order-btn:hover {
  background-color: #EAB534;
}

.presentation .order-btn:focus,
.presentation .order-btn:active {
  color: rgba(255, 255, 255, 0.3);;
  background:#E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.write-us {
  width: 219px;
  height: 50px;
}

.order-btn {
  margin-top: auto;
  order: 4;
}

/* Grid */

.page-body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Header */

.page-header {
  width: 100%;
  background-color: var(--basic-grey);
  padding-top: 49px;
}


.main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}


/* Menu */

.menu,
.user-menu {
  margin: 0;
  padding: 0;

  list-style: none;

  font-weight: 500;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu {
  margin: 0 auto;
  margin-top: 9px;
  margin-right: 245px;
  justify-content: space-between;
}

.menu-item:not(:last-child) {
  margin-right: 48px;
}
.menu-item:first-child {
  margin-right: 45px;
}
.menu-item a:hover,
.user-menu-item a:hover {
  color: var(--special-red);
}

.menu-item a:focus,
.user-menu-item a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}


.menu-item a:active,
.user-menu-item a:active {
  padding-bottom: 13px;
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 2px solid var(--special-red);
}

.user-menu {
  min-width: 115px;
  margin-top: 9px;
}

.user-menu-item a {
  padding-left: 40px;
}

/* Slider */

.slider {
  min-width: 1157px;
  background-color: var(--basic-grey);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  padding-top: 62px;
  background-color: transparent;
}

.slide b {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide p {
  margin-top: 25px;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: normal;
}

.slide-1,
.slide-2,
.slide-3 {
  position: relative;
  padding-right: 619px;
}

.slide-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-3 {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-2, .slide-3 {
  display: none;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 676px;
  top: 431px;
  z-index: 1;
}

.slider-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  border-radius: 50%;
  font-size: 0;
  background-color: var(--basic-white);
}

/* Main */

.index-main {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  align-content: flex-start;
}

.services .container {
  position: relative;
  min-height: 347px;
  margin-bottom: 80px;
  padding-top: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list li {
  min-width: 300px;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.service img {
  width: 300px;
  height: 146px;
  order: 0;
  margin-bottom: 25px;
}

.service h3 {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  order: 1;
}

.service p {
  margin: 0;
  margin-bottom: 32px;
  line-height: 24px;
  order: 2;
}

.about-us  .container {
  position: relative;
  border-top: 2px solid var(--basic-grey);
  margin-bottom: 73px;

  display: grid;
  grid-template-columns: 651px auto;
  column-gap: 149px;
}

.about-1 {
  padding-top: 73px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-1 h3 {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-1 p:first-of-type {
  margin: 0;
  margin-bottom: 41px;
  line-height: 24px;
}

.about-1 b {
  margin: 0;
  margin-bottom: 23px;
  line-height: 24px;
  text-transform: uppercase;
}

.works-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.works-list li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  line-height: 24px;
}

.works-list li:last-child {
  margin-bottom: 0;
}

.works-list li::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  margin-right: 7px;
  background-color: var(--special-red);
  vertical-align: super;
}

.about-2 {

  padding-top: 245px;
  position: relative;
  width: 360px;
  height: 208px;
  top: 39px;
  background-image: url("../img/nerds-illustration1.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.about-2 p {
  padding-left: 17px;
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-2 .profits {
  order: 2;
}

.our-profits {
  display: block;
}

.our-profits tbody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profits th {
  padding: 0;
  line-height: 18px;
  text-align: left;
}

.about-2 .profits-percentage {
  margin-bottom: 10px;
  order: 1;
}

.profits-percentage td {
  display: inline-block;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  padding: 0;
  margin-right: 20px;
}

.profits-percentage td:nth-of-type(2){
  margin-right: 18px;
}

.profits-percentage td > span {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.clients .container {
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 46px 41px 44px 32px;
  list-style: none;
}

.clients-list li {
  position: relative;
}

.logo-link {
  vertical-align: center;
}

.clients-list li:not(:last-of-type)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  left: 241px;
  top: 18px;
  background-color: #eeeeee;
}

.clients-list li:first-of-type::after {
  left: 241px;
  top: 18px;
}

.clients-list li:nth-of-type(2)::after {
  left: 241px;
  top: 18px;
}

.clients-list li:nth-of-type(3) {
}

.client-logo {
  display: block;
  opacity: 0.2;
}

.client-logo:hover {
  opacity: 1;
}

.client-logo:focus,
.client-logo:active {
  opacity: 0.1;
}

.map-area {
  padding-top: 80px;
}

.map-link {
  width: 100%;
}

.map-link img {
  width: 100%;
  min-height: 100%;
}

.map-link .container {
}

.map-link .address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 319px;
  height: 308px;
  padding: 49px 50px 47px 50px;
  background-color: var(--basic-white);
}

.address h3 {
  margin: 0;
  margin-top: 3px;
}

.map-link address {
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.address-tel {
}

/* Catalog */

.catalog-header {
  height: 178px;
}

.catalog-main {
}

.catalog-main h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-grey);
  padding-bottom: 108px;
  padding-top: 78px;
  text-align: center;
  margin: 0;
  margin-right: 16px;
}


/* footer */

.page-footer .container {
  display: flex;
  justify-content: flex-start;
  padding-top: 68px;
  padding-bottom: 68px;
}

.social {
  display: inline-block;
  margin-right: 139px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list li {
  display: inline-block;
  margin-right: 12px;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-list li:last-of-type {
  margin-right: 0;
}
.social-list .social-item::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
}

.social-list .vkontake::before {
  width: 26px;
  height: 15px;
  margin-top: 33px;
  margin-left: 27px;
  background-image: url("../img/svg/vk-icon.svg");
}

.social-list .facebook::before {
  width: 12px;
  height: 22px;
  margin-top: 31px;
  margin-left: 35px;
  background-image: url("../img/svg/fb-icon.svg");

}

.social-list .insta::before {
  width: 21px;
  height: 21px;
  margin-top: 29px;
  margin-left: 28px;
  background-image: url("../img/svg/insta-icon.svg");
}

.discount {
  padding-top: 7px;
}

.discount h2 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount p:first-child {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount p:nth-child(2) {
  margin: 0;
  line-height: 22px;
}

/* Modal */

.modal {
  display: none;
}
